<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ContinuousIntegrator.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <ContinuousIntegrator.Properties.Settings>
            <setting name="TeamFoundationServerUrl" serializeAs="String">
                <value>http://tfsserver:8080</value>
            </setting>
            <setting name="PollPeriod" serializeAs="String">
                <value>00:00:10</value>
            </setting>
            <setting name="SleepPeriod" serializeAs="String">
                <value>00:00:15</value>
            </setting>
            <setting name="MaximumSleepPeriod" serializeAs="String">
                <value>00:00:45</value>
            </setting>
            <setting name="BuildDirectory" serializeAs="String">
                <value>C:\Builds</value>
            </setting>
            <setting name="BuildTimeout" serializeAs="String">
                <value>00:05:00</value>
            </setting>
        </ContinuousIntegrator.Properties.Settings>
    </applicationSettings>
	<system.diagnostics>
		<switches>
			<add name="General" value="2" />
		</switches>
		<trace autoflush="true">
			<listeners>
				<add name="Console" type="System.Diagnostics.ConsoleTraceListener" />
				<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="ContinuousIntegrator" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>